<a class="user-card" href="<%= user_path(user) %>">
  <img src="<%= user.photo %>" class="user-photo">
  <div class="user-card-info">
    <div class="flex-col">
      <span class="card-title"><%= user.name %></span>
      <span class="user-totalpost">
        <% if user.posts_counter.class == Integer %>
          Number of post: <%= user.posts_counter %>
        <% else %>
          Number of post: 0
        <% end %>
      </span>
    </div>
  </div>
</a>