<div>
  <%= render partial: "user", locals: { user: @user} %>
  <div>
    <span>Bio</span>
    <span><%= @user.bio %></span>
  </div>

  <% if @recent_posts.any? %>
    <% @recent_posts.each do |recent_post| %>
      <%= render partial: "posts/post_card", locals: { post: recent_post, comments: nil } %>
    <% end %>

    <a
      href="<%= user_posts_path(user_id: @user.id) %>"
    >
      Load all posts
    </a>
  <% else %>
    <p>No posts found for this user</p>
  <% end %>
</div>