<div class="container">
  <%= render "templates/users", user: @user %>
  <% @posts.each do |post| %>
    <%= render "templates/post_card", post: post, comments: post.recent_comments, counter: @counter %>
    <% @counter = @counter + 1 %>
  <% end %>
</div>
